<link rel="stylesheet" href="/css/blurBox.css">

<style>
  #card {
    transform: translateX(120%);
  }

  #card.visible {
   
    transform: translateX(0);
  }
</style>


<div id="card" class="z-20 fixed top-20 left-0 right-0 px-4 flex items-center rounded-md justify-center scale-0 transition-transform duration-700 ease-in-out">
    <button id="cancel" class="absolute top-4 right-8 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
      </button>
    <div class="flex flex-col w-full  items-center bg-blh rounded-lg  justify-center gap-4 px-6 py-6">
    <div id="statusIcon" class="flex justify-center items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 bg-blf text-white p-3 rounded-full">
        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
      </svg>
    </div>

    <div class="flex flex-col justify-center items-center ">
      <p id="inputBoxNessage" class="text-blt text-sm px-4 text-center">Enter your friend's Id which they have provide you after making
        a account on the platform</p>
    </div>
    <div class="flex flex-col w-full justify-between text-sm ">
      <label for="uid" class="px-2 ">Your friend's UID</label>
      <input id="uid" required placeholder="Enter UID" type="text" class="text-xs bg-blm px-2 rounded-md py-3 border-2 border-blb focus:ring-1">
    </div>

    <div class="flex w-full justify-between items-center text-xs gap-3">
      <button id="view" class="bg-blf text-blm px-6 py-3 w-full rounded-md border border-blb ">View Profile</button>
    </div>
  </div>
</div>

<script src="/js/blurBox.js"></script>


<script>
  const card = document.getElementById('card')
  const cancelBtn = document.getElementById('cancel');
  const viewProfileBtn = document.getElementById('view');
  const uid = document.getElementById('uid');
  const cancel = document.getElementById('cancel');



  
  // box in function
  const uidInput = () => {
    blurIn();
    card.classList.add('visible');
  }

  cancelBtn.addEventListener('click',(event)=>{
       cancelDailog();
       
            });
  // box out and return the id function
    const uidReturn = () => {
      const uidData = uid.value;
      blurOut();
      card.classList.remove('visible')
      uid.value = '';
      return uidData;
  }

//   if someone click cancel button

  const cancelDailog = () => {
        blurOut();
    card.classList.remove('visible')
    uid.value = '';
  }


//   custom dailog 

</script>