
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <style>
        *{
          box-sizing: border-box;
            padding: 0;
            margin: 0;
            direction: none;
            outline: none;
            text-decoration: none;
        }
      
    </style>
    <link rel="stylesheet" href="/output.css">
</head>
<body class="font-pop flex flex-col bg-blg h-full w-full ">
    <%- body %>


    <script>
        let allowSelection = false; // Default is disabled
     document.body.addEventListener('selectstart', (event) => {
  if (!allowSelection) {
    event.preventDefault();
  }
  allowSelection = false; // Reset flag after each event
});
    </script>
</body>
</html>