
    <main class="h-screen max-h-screen w-full flex flex-col justify-start items-center gap-5 mt-3">

        <div class="px-10 py-6 rounded-md ring-1 ring-black space-y-4 gap-4">
            <div class="flex flex-col justify-center gap-2">
                <div for="userId">Enter the ID of your friend whom you want to Chat</div>
                <input id="userId" placeholder="Enter 16 digit Id" type="text" class="outline-none focus:ring-1 ring-black ring-1 py-1 rounded-full px-4">
                <div class="mt-4 flex gap-4 justify-center items-center">
                    <button id="cancel" type="button" class="bg-black text-white font-semibold rounded-full py-2 px-8">Cancel</button>
                    <button id="request" type="button" class="bg-black text-white font-semibold rounded-full py-2 px-8">Request</button>
                </div>
            </div>
        </div>

    </main>

   <script>
    const sendRequest = document.getElementById('request');
    const userId = document.getElementById('userId')
sendRequest.addEventListener('click',  (event) => {
    event.preventDefault(); // Prevent default form submission
    const id = userId.value.trim();
    // Assuming you have the data to send in a variable named 'content'
    const content ={id}
    fetch ('/messages', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
        },
        body: JSON.stringify(content)
    }).then((data) => {
        console.log(data.status)
       return data.json();
    }).then((data)=>{

     if(data.message == "Added"){
        console.log("added")
        window.location.href = '/success'
     }
     else if(data.message =="Exist" || "Catch" ){
        console.log("exist")
        window.location.href = '/exist'

     }
     else if(data.message == 'Warning'){
        window.location.href = '/warning'
     }
     else if(data.message == "Error" || "Catch" ){
        window.location.href = '/error'

     }
     else if(data.message == "Invalid"){
        window.location.href = '/invalid'

     }
     
})
.catch(err => console.log(err))
})
   
   </script>

</body>
</html>
