<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="/css/blurBox.css">

</head>
<body class="">
    <main class=" fixed z-10 flex flex-col  items-center  top-0 left-0 right-0 bottom-0 h-full bg-blf ">
       
       <div class="flex w-full h-full flex-col justify-around px-5 ">
       
        <div class="flex flex-col items-center justify-center gap-2 ">
            <img src="/img/welcome.png" alt="" class="w-64 h-664">

            <div class="flex flex-col justify-center items-center px-2 pt-4  gap-3">
                <h1 class=" text-blm font-[600] text-balance text-3xl px-0.5 font-pop">Start a conversation, start a connection!</h1>
                <p class=" text-blm text-lg font-[500] pr-5">We only asking for a username not your life story..</p>
            </div>
        </div>
      
        <div class="flex flex-col justify-center gap-3 pb-8 px-1">
            <a  href="/register" class="flex justify-center items-center bg-blm rounded-md font-[500] border border-blb ">
                <div  class="text-lg px-3 py-3 text-center">
               Let's Start 
                </div>
            </a>
            <div class="h-[1px]  bg-blh mx-2"></div>
            
       <p class="text-blm text-sm px-2 text-center">Already have account <a id="login" href="/login" class="font-[700] px-2 underline">Login</a></p>
    </div>
       </div>
    </main>

</body>
</html>
